.classpath
.project
.gradle
.idea
.settings
.DS_Store
.cache
*.iml
gen_java
service/src/main/webapp/test/
build
bin
gen-java
gen-csharp
*.ipr
*.iws
clients/java/src
clients/dotNet/src
*.orig
clients/dotNet/Libs/
clients/dotNet/ServiceWorkbenchClient.dll.1.0.0.nupkg
clients/dotNet/obj/
